<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HPSlideSegmentView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65374CF61EEC3D94005B5C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65374D0F1EEC3D94005B5C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65374D1A1EEC3D94005B5C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
